---
import heroVisual from "../images/hero.webp";
import heroVisualMobile from "../images/hero-mobile.webp";
import Button from "./Button.astro";
---

<div class="bg-gradient-to-b from-green-50 to-green-100">
	<section class="py-10 sm:py-16 lg:py-24">
		<div class="container">
			<div class="grid items-center grid-cols-1 gap-12 lg:grid-cols-2">
				<div>
					<h1 class="txt-xxl">
						Collaborate remotely, with
						<div class="relative inline-flex">
							<span class="absolute accent-underline"></span>
							<h1 class="relative txt-xxl">januszhub.</h1>
						</div>
					</h1>
					<p class="mt-8 text-base text-black sm:text-xl max-w-prose">
						Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
						sint. Velit officia consequat duis enim velit mollit. Exercitation
						veniam consequat.
					</p>
					<div class="flex items-center mt-10 space-x-4 sm:space-x-8">
						<Button primary>Start exploring</Button>
						<Button play>Watch video</Button>
					</div>
				</div>
				<div class="hidden sm:block">
					<img class="w-full" src={heroVisual} alt="Colaboration with Janusz" />
				</div>
				<div class="sm:hidden">
					<img
						class="w-full"
						src={heroVisualMobile}
						alt="Colaboration with Janusz"
					/>
				</div>
			</div>
		</div>
	</section>
</div>
<span class="block h-10 bg-gradient-to-b from-green-100 to-gray-100"></span>

