---
import Icon from "./Icon.astro";
import AnimatedIconTitleDesc from "./AnimatedIconTitleDesc";
import AnimatedImg from "./icons/AnimatedImg";

const howItWorksList = [
	{
		title: "Simply find best Janusz",
		description:
			"Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corrupti culpa obcaecati cupiditate ea officia eius libero.",
		icon: "search",
		iconColor: "#4ADE80",
	},
	{
		title: "Set the project scope",
		description:
			"Corrupti culpa obcaecati cupiditate ea officia eius libero exercitationem blanditiis minus illo.",
		icon: "shake",
		iconColor: "#53B9EA",
	},
	{
		title: "Rate your Janusz",
		description:
			"Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.",
		icon: "heart",
		iconColor: "#F97316",
	},
];
---

<section class="py-10 bg-gray-100 sm:py-16 lg:py-24">
	<div class="container">
		<div class="max-w-xl mx-auto text-center">
			<h2 class="mt-6 txt-xxl">How it works?</h2>
		</div>
		<div
			class="grid items-center grid-cols-1 mt-12 gap-y-10 lg:grid-cols-5 sm:mt-20 gap-x-4"
		>
			<div class="space-y-8 lg:pr-16 xl:pr-24 lg:col-span-2 lg:space-y-12">
				{
					howItWorksList.map((item, index) => (
						<AnimatedIconTitleDesc client:visible item={item} index={index} />
					))
				}
			</div>
			<div class="lg:col-span-3">
				<AnimatedImg
					client:visible
					src="https://cdn.rareblocks.xyz/collection/celebration/images/features/7/dashboard-screenshot.png"
					alt="Janusz platform"
				/>
			</div>
		</div>
	</div>
</section>
