---
import { images } from "../data/logoBar";
---

<section class="py-10 bg-gray-100 sm:py-16 lg:py-24 lg:pt-44">
	<div class="w-full">
		<div class="text-center">
			<h2 class="txt-xl mb-10">
				Trusted by world great companies
			</h2>
		</div>
		<div class="relative flex overflow-x-hidden">
			<div
				class="py-12 animate-marquee whitespace-nowrap flex items-center gap-20"
			>
				{
					images.map((item) => (
						<img
							src={`/src/images/logotypes/logo-${item.logo}`}
							alt={item.name}
							class="inline-block"
						/>
					))
				}
			</div>
		</div>
	</div>
</section>
