---
const images = [
	{
		logo: "1.webp",
		name: "Autospeed",
	},
	{
		logo: "2.webp",
		name: "Beauty Box",
	},
	{
		logo: "3.webp",
		name: "Pete's Blinds",
	},
	{
		logo: "4.webp",
		name: "Croft's Accountants",
	},
	{
		logo: "5.webp",
		name: "Dorfus",
	},
	{
		logo: "6.webp",
		name: "Greener",
	},
	{
		logo: "7.webp",
		name: "Coworks",
	},
	{
		logo: "8.webp",
		name: "MakeLess",
	},
	{
		logo: "9.webp",
		name: "Sass Today",
	},
	{
		logo: "10.webp",
		name: "Askimat",
	},
	{
		logo: "11.webp",
		name: "Martino",
	},
	{
		logo: "12.webp",
		name: "Rocker",
	},
	{
		logo: "13.webp",
		name: "Paperz",
	},
	{
		logo: "14.webp",
		name: "Square",
	},
];

// https://codepen.io/studiojvla/pen/qVbQqW

---

<section class="py-10 bg-gray-100 sm:py-16 lg:py-24 lg:pt-44">
	<div class="w-full">
		<div class="text-center">
			<h2 class="txt-xl mb-10">
				Trusted by world great companies
			</h2>
		</div>
		<div class="relative flex overflow-x-hidden">
			<div
				class="py-12 animate-marquee whitespace-nowrap flex items-center gap-20"
			>
				{
					images.map((item) => (
						<img
							src={`/src/images/logotypes/logo-${item.logo}`}
							alt={item.name}
							class="inline-block"
						/>
					))
				}
			</div>
		</div>
	</div>
</section>
